.catalog{
                  display: none;
				 
				  position:absolute;
            }
			.show:hover .catalog{
                display: block;
            }

li{
list-style-type:none;
display:inline-block;
position:relative;}
.rf{
background-color:black;
border:2px solid darkgreen;
color:white
}
body{
background-color:#48452a;
font-family:Arial
}
.fd{
border:2px solid black;
background-color:#09998b;
}
.show{
	background-color:#09998b;
	border:2px solid black;
}
img{
	float:right;
	border:3px solid black;
}
p{
font-size:20px
}